<% content_for :head do %>
  <title> Contact </title>

<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'application' %>

<script type="text/javascript">
  function allowSend() {
    var email = $('email').getValue();
    var message = $('message').getValue();

    $('submit').disabled = email.blank() ||
      !isValidEmail(email) || message.blank();
  }

  document.observe('dom:loaded', function() {
    var form = $('contactForm');
    form.focusFirstElement();
    allowSend();

    new Form.Observer('contactForm', 0.5, function() {
      allowSend();
    });
});
</script>

<% end %>

<h2>Contact</h2>

<p>
  If you'd like to get in touch with Rendered Text,
  use the form below,
  <%= mail_to "devs@renderedtext.com", "email us", :encode => "hex", :class => "email" %>
  from your preferred email client,
  or find us in our <%= link_to "office", "#office" %>.
</p>

<% form_tag '/send_mail', :id => 'contactForm' do %>
  <p>
    <%= label_tag 'email' %> <br />
    <%= text_field_tag 'email', '', :size => 32 %>
  </p>

  <p>
    <%= label_tag 'subject' %> <br />
    <%= text_field_tag 'subject', '', :size => 32 %>
  </p>

  <p>
    <%= label_tag 'message' %> <br />
    <%= text_area_tag 'message', '', :size => '32x8' %>
  </p>

  <%= submit_tag "Send", :id => 'submit' %>
<% end %>

<h3 id="office">Office</h3>

<p>
  Feel free to drop by and say hi. We always have some candies around.
</p>

<div class="vcard">
  <div class="adr">
    <div class="org fn">
      <a class="url" href="http://renderedtext.com">
        <span class="organization-name">Rendered Text</span>
      </a>
    </div>
    <div class="street-address">Žarka Zrenjanina 4</div>
    <span class="locality">Novi Sad</span>,
    <span class="postal-code">21000</span>
    <div class="country-name">Serbia</div>
  </div>
</div>
